.header {
    background-image: url("../img/14.jpg");
    height: 100px;
    display: flex;
    place-content: center;
    padding: 50px 40px;

    background-position: center;
    background-size: cover;
}

.header{
    font-size: 50px;
    color: honeydew;
    text-align: center;
    text-shadow: 2px 3px 5px greenyellow; 
    /* text-underline-position: below; */

